body {
  background-color: whitesmoke;
}

.areaContent{
  padding: 50px 0;
}

.conteudo-centralizado, .area-botao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo-centralizado {
  width: 50%;
  margin: 0 auto;
  padding: 25px 0;
  background-color: #fff;
  border-radius: 5px;
}

h1, h3 {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
}

button {
  background-color: aquamarine;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #969696;
  font-weight: bold;
}

button:hover {
  background-color: rgb(18, 129, 92);
  color: #fff;
  font-weight: bold;
}